{% extends "main.html" %} {% block title %}Home{% endblock title %} 

{% block content %}
<div class="container mx-auto">
  <h1 class="text-4xl my-10 font-bold">Home Page</h1>
  <a href="{% url 'create-room' %}">Create Room</a>
  <div>
    {% for room in rooms %}
    <div class="mb-5">
      <a href="{% url 'update-room' room.id %}">Edit</a>
      <a href="{% url 'delete-room' room.id %}">Delete</a>
      <span class="capitalize">@{{ room.host }}</span>
      <p class="p-3">
        <a href="{% url 'room' room.id %}">{{ room.name }}</a>
      </p>
      <span>@{{ room.topic.name }}</span>
    </div>
    {% endfor %}
  </div>

  {% comment %}
  <div>
    {% for topic in topics %}
    <p>{{ topic.name }}</p>
    {% endfor %}
  </div>
  {% endcomment %}
</div>
{% endblock content %}
