{% extends "main.html" %} {% block title %}Home{% endblock title %} 

{% block content %}

<div class="container mx-auto grid grid-cols-12">

  <div class='col-span-3 border flex flex-col'>
    <h3>Browse Topics</h3>
    <a href="{% url 'home' %}">All Topics</a>
    {% for topic in topics %}
    <a href="{% url 'home' %}?q={{ topic.name }}">{{ topic.name }}</a>
    {% endfor %}
  </div>

  <div class='col-span-9 border'>
    <h5>{{ room_count }} rooms available</h5><a href="{% url 'create-room' %}">Create Room</a>
    <div>
      {% for room in rooms %}
      <div class="mb-5">
        <a class="text-sm p-1 hover:text-white hover:bg-black rounded-md" href="{% url 'update-room' room.id %}">Edit</a>
        <a class="text-sm p-1 hover:text-white hover:bg-black rounded-md" href="{% url 'delete-room' room.id %}">Delete</a>
        <span class="capitalize font-medium text-xs">@{{ room.host }}</span>
        <p class="font-medium text-lg">
          <a href="{% url 'room' room.id %}">{{ room.name }}</a>
        </p>
        <span>@{{ room.topic.name }}</span>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
