{% extends "main.html" %} 

{% block title %}Room{% endblock title %} 

{% block content %}
<div class="container mx-auto relative h-screen">
  <h1 class="text-4xl font-bold">{{ room.name }}</h1>
  <h1 class="">{{ room.description }}</h1>

  <div class="absolute bottom-5 w-full p-2 lg:p-0 h-[80vh] overflow-scroll">
    {% for message in roomMessages %}

    {% if message.user == request.user %}

      <div class="relative w-full flex items-end justify-end">
        <div class="my-3 bg-black/50 flex flex-col items-end p-2">
          <p class="text-xs font-light"> <span class="font-bold"> @{{ message.user }} </span> | {{ message.created|timesince }} ago</p>
          <p>{{ message.body }}</p>
        </div>
      </div>
      
      {% else %}
      
      <div class="relative w-full flex items-start">
        <div class="my-3 bg-[#2C2D38]/50 p-2">
          <p class="text-xs font-light"> <span class="font-bold"> @{{ message.user }} </span> | {{ message.created|timesince }} ago</p>
          <p>{{ message.body }}</p>
        </div>
      </div>

    {% endif %}

    {% endfor %}
  </div>

  {% if request.user.is_authenticated %}
    <div class="absolute bottom-0 w-full bg-black h-[5vh]">
      <form  method="POST" action="">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Enter a message" class="border w-full h-[5vh]" />
      </form>
    </div>
  {% endif %}

</div>
{% endblock content %}
